.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-box {
    background: rgb(37, 35, 35);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    margin: 5cm;
}

body {
    background-image: url(imagem\ de\ fundo.jpg);
}

.bot {
    display: grid;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 0cm;
    unicode-bidi: isolate;
    padding: 25px;
}

button {
    width: 100%;
    padding: 13px;
    background: rgb(219, 184, 26);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s; /* Corrigido para 0.3s */
}

.input-group input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: rgb(112, 110, 110);
    border: none;
    border-bottom: 2px solid #ddd;
    outline: none;
    background: transparent;
    transition: 0.3s;
    margin: 10px 0; /* Corrigido o valor do margin */
    text-align: center;
}

.input-group label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #666;
    pointer-events: none;
    transition: 0.3s;
}

nav {
    background-color: rgb(219, 184, 26);
    padding: 12px;
    text-decoration: none;
    border-radius: 8px;
    display: flex;
    align-items: flex-start; /* Ajustado para alinhar ao topo */
}

a {
    color: rgb(37, 35, 35);
    text-decoration: none;
}
